body{
    background-color: black;
    margin: 0%;
}
p{
   color: white;
   text-align: justify;
   margin: 3%;
   font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: skyblue;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    background-color: rgb(255, 49, 176);
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
iframe{
    padding-right: 25%;
    padding-left: 25%;
}
section{
  
    margin: 5%;
}
#img2{
    height: 50%;
    width: 46%;
    padding-right: 2%;
    padding-left: 2%;
}
#B{
    background-color: blue;
    color: black;
    margin: 0%;
    border: solid blue 30px;
    padding-left: 75%;
}
.fotoetexto{
    margin: 5%;
    background-image: url("Imagens/7.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 60%;
}
#imagem1{
    height: 90%;
    width: 22%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
}
h6{
    font-size: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-left: 40%;
}
#topo{
    background-image: url("imagens/8.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
    height: 100%;
    padding-top: 0%;
    border: solid black;
}
#C{
    color: black;
    padding-top: 43%;
    padding-left: 44%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
#imagem9{
    height: 100%;
    width: 45%;
    padding-left: 6%;
   
}


